*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.major-con{
    width: 100%;
    height: 100hv;
    background: #ffffff33;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cal-con{
    height: 70%;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.input{}

.data-con{
    outline: none;
    border: none;
    width: 100%;
    direction: rtl;
    padding: 0.5rem;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inneer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.button-con{
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto auto auto auto; 
}
.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}